@charset "UTF-8";
@import url("../css/nullstyle.css");
:root {
  --clr1: #fff;
  --clr2: #1b0c1b;
  --clr3: #e7abb9;
  --clr4: #ffe37c;
  --clr5: #b25792;
  --clr6: #fff1f3;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.45;
  color: var(--clr2);
  background-color: #f6f6f6;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  padding: 18px 10px;
  color: var(--clr1);
  font-family: "Comfortaa", sans-serif;
  background: var(--clr5);
  width: 270px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  background-size: 300% 100%;
  background-image: linear-gradient(90deg, #b25792 12.6%, #75365f 82.8%);
  box-shadow: 0 4px 15px 0 rgba(64, 80, 110, 0.39);
  font-size: 18px;
}
.btn:hover {
  box-shadow: 0 4px 15px 0 rgba(27, 33, 44, 0.39);
  background-position: 60% 0;
}

.img {
  max-width: 100%;
}

.title {
  margin-bottom: 40px;
  font-size: 38px;
  font-weight: 600;
}
@media (max-width: 600px) {
  .title {
    font-size: calc(30px + 8 * (100vw - 320px) / 448);
  }
}

.header {
  padding: 25px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(17.3px);
  -webkit-backdrop-filter: blur(17.3px);
  box-shadow: 2px 2px 8px rgba(178, 87, 146, 0.0470588235);
}
@media (max-width: 768px) {
  .header {
    padding: 15px 0;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.header__logo {
  margin-right: 10px;
  position: relative;
  z-index: 10;
  max-width: 200px;
}
.header__logo--img {
  width: 100%;
  height: 100%;
}
.header__link {
  color: var(--title-text);
  position: relative;
  transition: all 0.3s ease-in-out;
}
.header__link:hover {
  color: var(--basic);
}
.header__contact {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1080px) {
  .header__contact {
    margin-left: auto;
    margin-right: 20px;
  }
}
@media (max-width: 650px) {
  .header__contact {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    border-radius: 0;
    padding: 15px 40px;
    justify-content: center;
    background-color: var(--clr1);
    border-radius: 8px 8px 0 0;
    margin-right: 0;
  }
  .header__contact.active {
    bottom: 0;
  }
}
.header__img--phone {
  width: 35px;
  height: 35px;
}
.header__phone {
  position: relative;
  z-index: 6;
  color: var(--clr2);
  font-weight: 500;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.header__phone:hover {
  color: #75365f;
}
@media (max-width: 650px) {
  .header__phone {
    font-weight: 700;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 1080px) {
  .header__burger {
    display: block;
    position: relative;
    height: 30px;
    width: 50px;
    z-index: 50;
    transition: all 0.3s ease;
  }
  .header__burger::before, .header__burger::after, .header__burger span {
    content: "";
    position: absolute;
    height: 4px;
    background-color: var(--clr5);
    margin: auto;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    right: 0;
  }
  .header__burger::before {
    top: 0;
    width: 100%;
  }
  .header__burger span {
    top: 13px;
    width: 75%;
  }
  .header__burger::after {
    bottom: 0;
    width: 50%;
  }
  .header__burger.active::after {
    width: 100%;
    background-color: var(--clr4);
  }
  .header__burger.active span {
    transform-origin: right;
    background-color: var(--clr4);
  }
  .header__burger.active::before {
    background-color: var(--clr4);
    width: 50%;
  }
}

.menu {
  position: relative;
  z-index: 10;
}
@media (max-width: 1080px) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(47.3px);
    -webkit-backdrop-filter: blur(17.3px);
    padding: 100px 10px 0 0;
    overflow: auto;
    transition: all 0.3s ease-in-out;
    z-index: 5;
  }
}
.menu.active {
  right: 0;
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1080px) {
  .menu__list {
    display: block;
    text-align: right;
  }
}
@media (max-width: 1080px) {
  .menu__item {
    margin-bottom: 30px;
    display: block;
  }
}
.menu__link {
  font-weight: 500;
  color: var(--clr2);
  position: relative;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
}
.menu__link:hover {
  color: var(--clr5);
}
.menu__link:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  /*задаём длинну линии до наведения курсора*/
  height: 3px;
  /*задаём ширину линии*/
  background: linear-gradient(360deg, rgb(172, 83, 141) 0%, rgb(224, 111, 185) 100%);
  /*задаём цвет линии*/
  transition: all 0.3s ease-in-out;
}
.menu__link:hover:after, .menu__link:focus:after {
  width: 100%;
  /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
@media (max-width: 1080px) {
  .menu__link {
    font-size: 32px;
    font-weight: 700;
  }
}
@media (max-width: 570px) {
  .menu__link {
    font-size: 27px;
  }
}

@media (max-width: 650px) {
  .menu__item:nth-child(5) {
    margin-bottom: 90px;
  }
}

.home {
  background: url("../img/home/home-bg.webp") 70% center/cover no-repeat;
  min-height: 450px;
  padding-bottom: 150px;
  position: relative;
  padding-top: 200px;
  box-shadow: 5px 5px 5px rgba(27, 12, 27, 0.062745098);
}
@media (max-width: 768px) {
  .home {
    background: url("../img/home/home-min.webp") 46% top/cover no-repeat;
    padding-bottom: calc(560px + 440 * (100vw - 320px) / 448);
    padding-top: calc(130px + 70 * (100vw - 320px) / 448);
  }
}
@media (max-width: 768px) {
  .home__inner {
    text-align: center;
  }
}
.home__items {
  max-width: 65%;
}
@media (max-width: 768px) {
  .home__items {
    max-width: 100%;
  }
}
.home__title {
  font-weight: 700;
  font-size: 75px;
  margin-bottom: 50px;
  line-height: 1.2;
}
.home__title span {
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba(27, 27, 29, 0.1019607843);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  background-image: linear-gradient(360deg, rgb(172, 83, 141) 0%, rgb(224, 111, 185) 100%);
}
@media (max-width: 1090px) {
  .home__title {
    font-size: calc(50px + 25 * (100vw - 768px) / 322);
  }
}
@media (max-width: 768px) {
  .home__title {
    font-size: calc(34px + 41 * (100vw - 320px) / 448);
  }
}
@media (max-width: 500px) {
  .home__title {
    margin-bottom: 30px;
  }
}
.home__item {
  text-align: left;
}
@media (max-width: 860px) {
  .home__item {
    max-width: 400px;
  }
}
@media (max-width: 768px) {
  .home__item {
    margin: 0 auto;
    max-width: 500px;
  }
}
.home__item p {
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
}
.home__item p::before {
  background: url("../img/icon/check.svg") 0 0/100% no-repeat;
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
}
.home__link {
  margin-top: 50px;
}
@media (max-width: 500px) {
  .home__link {
    margin-top: 30px;
  }
}

.advantages {
  padding: 50px 0 0;
  box-shadow: 5px 5px 5px rgba(27, 12, 27, 0.062745098);
  background: url("../img/advantages/bg1.webp") center/cover no-repeat;
  position: relative;
}
.advantages::before {
  background: #f6f6f6;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  opacity: 0.7;
}
@media (max-width: 1000px) {
  .advantages {
    padding-bottom: 50px;
  }
}
.advantages__title {
  position: relative;
  z-index: 3;
}
@media (max-width: 600px) {
  .advantages__title {
    font-size: calc(30px + 8 * (100vw - 320px) / 448);
  }
}
.advantages__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .advantages__inner {
    flex-direction: column;
  }
}
@media (max-width: 50px) {
  .advantages__inner {
    gap: 30px;
  }
}
.advantages__items {
  flex: 0 1 35%;
}
@media (max-width: 1000px) {
  .advantages__items {
    flex: 0 1 50%;
  }
}
.advantages__item {
  display: flex;
  align-items: center;
  gap: 20px;
  min-height: 100px;
}
@media (max-width: 500px) {
  .advantages__item {
    flex-direction: column;
    text-align: center;
  }
}
.advantages__item:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 700px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.advantages__item p {
  font-size: 16px;
}
@media (max-width: 768px) {
  .advantages__item p {
    font-size: 18px;
  }
}
.advantages__img--icon {
  width: 80px;
  height: 80px;
}
.advantages__image {
  flex: 0 1 20%;
}
@media (max-width: 1000px) {
  .advantages__image {
    display: none;
  }
}
.advantages__img {
  width: 350px;
}
.advantages__img--icon-rot {
  transform: rotate(90deg);
}

.form {
  padding: 100px 0;
  position: relative;
  background: url("../img/price/circle-bg.webp") center/cover no-repeat, var(--clr6);
}
@media (max-width: 768px) {
  .form {
    padding: 50px 0;
  }
}
.form__title {
  text-align: center;
  z-index: 2;
  position: relative;
  line-height: 1;
  color: var(--clr2);
  margin-bottom: 40px;
}
@media (max-width: 650px) {
  .form__title {
    font-size: calc(32px + 23 * (100vw - 320px) / 330);
  }
}
.form__title span {
  font-size: 23px;
  margin-top: 20px;
  display: inline-block;
}
@media (max-width: 650px) {
  .form__title span {
    font-size: calc(22px + 8 * (100vw - 320px) / 330);
    margin-top: 20px;
  }
}
.form__block {
  z-index: 3;
  margin-bottom: 40px;
}
.form__block--bottom {
  z-index: 2;
  margin-bottom: 40px;
}
@media (max-width: 810px) {
  .form__block--bottom {
    flex-wrap: wrap;
  }
}
.form__block, .form__block--bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  flex-wrap: wrap;
}
@media (max-width: 540px) {
  .form__block, .form__block--bottom {
    display: block;
    text-align: center;
  }
}
.form__input-name {
  position: relative;
  z-index: 2;
}
.form__input-tel {
  position: relative;
  z-index: 2;
}
.form__input-select {
  cursor: pointer;
}
.form__button {
  position: relative;
  z-index: 1;
  text-align: center;
}
.form__btn {
  height: 62px;
}
@media (max-width: 450px) {
  .form__btn {
    width: 100%;
  }
}

.form-input {
  display: block;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 15px;
  width: 300px;
  max-width: 100%;
  height: 55px;
  color: var(--clr2);
  font-size: 16px;
  outline: none;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.0901960784);
}
.form-input::-moz-placeholder {
  color: rgba(76, 43, 107, 0.582);
}
.form-input::placeholder {
  color: rgba(76, 43, 107, 0.582);
}
.form-input.error {
  border: 2px solid #cc0b0b;
}
@media (max-width: 540px) {
  .form-input {
    width: 300px;
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .form-input {
    width: 100%;
  }
}

.peculiarities {
  background-color: #f6f6f6;
  position: relative;
  box-shadow: 5px 5px 10px rgba(221, 221, 221, 0.4745098039);
}
@media (max-width: 1000px) {
  .peculiarities {
    background: url("../img/peculiarities/peculiarities-bg.webp") center/cover no-repeat;
    position: relative;
  }
  .peculiarities::before {
    content: "";
    background: #f6f6f6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.95;
  }
}
.peculiarities__title {
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
  z-index: 2;
}
.peculiarities__inner {
  display: flex;
  align-items: center;
  gap: 10px;
}
.peculiarities__body {
  flex: 0 1 50%;
}
@media (max-width: 1000px) {
  .peculiarities__body {
    flex: 0 1 100%;
  }
}
.peculiarities__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-bottom: 50px;
  z-index: 2;
  position: relative;
}
@media (max-width: 480px) {
  .peculiarities__block {
    grid-template-columns: repeat(1, 1fr);
  }
}
.peculiarities__item h3 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}
@media (max-width: 1000px) {
  .peculiarities__item {
    text-align: center;
  }
}
.peculiarities__item-image {
  margin-bottom: 10px;
}
.peculiarities__item-img {
  width: 70px;
  height: 70px;
}
.peculiarities__button {
  text-align: center;
  z-index: 2;
  position: relative;
  max-width: 800px;
  padding-bottom: 30px;
}
@media (max-width: 1000px) {
  .peculiarities__button {
    max-width: 100%;
  }
}
.peculiarities__image {
  flex: 0 1 50%;
  z-index: 1;
}
@media (max-width: 1000px) {
  .peculiarities__image {
    display: none;
  }
}

.type {
  padding: 50px 0;
  box-shadow: 5px 5px 10px rgba(221, 221, 221, 0.4745098039);
}
.type__title {
  position: relative;
  z-index: 3;
}
@media (max-width: 600px) {
  .type__title {
    margin-bottom: 30px;
  }
}
.type__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  position: relative;
  z-index: 3;
  max-width: 1300px;
  margin: 0 auto;
}
@media (max-width: 1015px) {
  .type__inner {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
}
@media (max-width: 650px) {
  .type__inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
}
@media (max-width: 450px) {
  .type__inner {
    padding: 0;
  }
}
.type__item {
  text-align: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.type__item h3 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
}
.type__image {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}
.type__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -20px;
  left: -20px;
  border-radius: 20px;
  z-index: -1;
  border-top: 1px solid var(--clr5);
  border-left: 1px solid var(--clr5);
}
.type__img {
  border-radius: 20px;
  box-shadow: rgba(27, 27, 29, 0.1843137255) 0 0 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery {
  padding: 50px 0;
  border-bottom: 4px solid var(--clr3);
}
@media (max-width: 768px) {
  .gallery__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 380px) {
  .gallery__title {
    font-size: 22px;
  }
}
.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  max-width: 1400px;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  .gallery__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 900px) {
  .gallery__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 670px) {
  .gallery__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
.gallery__slide {
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 20px;
  max-height: 250px;
}
.gallery__slide:hover .gallery__img {
  opacity: 0.5;
  transform: scale(1.05);
}
.gallery__slide:hover .gallery__item--text {
  opacity: 1;
}
.gallery__item {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.gallery__img {
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 8px rgba(27, 27, 29, 0.2196078431);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.gallery__item--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  color: var(--clr2);
  padding: 5px 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5137254902);
  box-shadow: 0 0 15px #fff;
}
@media (max-width: 768px) {
  .gallery__item--text {
    display: none;
  }
}

.price {
  padding: 50px 0;
  position: relative;
  background: url("../img/advantages/bg.webp") 0 0/cover no-repeat;
}
.price::before {
  background: #fdf7f8;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  opacity: 0.7;
}
.price__title {
  position: relative;
  z-index: 3;
}
@media (max-width: 550px) {
  .price__title {
    margin-bottom: 30px;
  }
}
.price__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  position: relative;
  z-index: 2;
  align-items: flex-start;
}
@media (max-width: 1000px) {
  .price__inner {
    flex-direction: column;
    gap: 40px;
  }
}
.price__block {
  flex: 0 1 50%;
}
.price__block h3 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: right;
}
@media (max-width: 1000px) {
  .price__block {
    width: 100%;
  }
}
.price__body {
  margin-top: 50px;
  position: relative;
  z-index: 3;
}
@media (max-width: 624px) {
  .price__body {
    margin-bottom: 30px;
  }
}
.price__text {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}
@media (max-width: 450px) {
  .price__text {
    font-size: calc(16px + 6 * (100vw - 320px) / 130);
  }
}
.price__text span {
  font-size: 26px;
  color: var(--clr5);
}
@media (max-width: 450px) {
  .price__text span {
    font-size: calc(18px + 8 * (100vw - 320px) / 130);
  }
}
.price__button {
  text-align: left;
  margin-top: 20px;
}
@media (max-width: 1000px) {
  .price__button {
    text-align: center;
  }
}

.price-table {
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(27, 27, 29, 0.3294117647);
  border-radius: 20px;
}
table {
  border-collapse: collapse;
  width: 100%;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #fff;
}
tr:hover {
  background-color: #fff5d1;
  border-radius: 20px;
}
tr:last-child:hover td:first-child {
  border-radius: 0 0 0 20px;
}
tr:last-child:hover td:last-child {
  border-radius: 0 0 20px 0;
}

th,
td {
  padding: 8px 8px 8px 10px;
  text-align: center;
}

td {
  font-size: 18px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
td span {
  color: #cc0b0b;
}
td:first-child {
  text-align: left;
}
td:last-child {
  border-right: none;
}
td:nth-child(2), td:nth-child(3) {
  font-weight: 700;
  font-size: 20px;
}
@media (max-width: 400px) {
  td {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  td {
    font-size: 14px;
  }
}

th {
  width: 33.333%;
  background-color: var(--clr3);
  font-weight: 700;
}
th:first-child {
  border-radius: 20px 0 0 0;
}
th:nth-child(3) {
  border-radius: 0 20px 0 0;
}
@media (max-width: 400px) {
  th {
    font-size: 16px;
  }
}

.question {
  padding: 50px 0 0;
  background-color: var(--clr1);
}
.question::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--clr5);
}
.question__block {
  margin: 25px auto 50px;
  max-width: 1000px;
}
.question__block--item {
  margin-bottom: 15px;
  background-color: #f6f6f6;
  padding: 15px 25px;
  border-radius: 8px;
}
.question__block--item h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #313133;
  position: relative;
  cursor: pointer;
  padding-right: 30px;
}
.question__block--item h3::after, .question__block--item h3::before {
  content: "";
  width: 16px;
  height: 2px;
  position: absolute;
  top: 10px;
  background-color: #313133;
  transition: all 0.3s ease-in-out;
}
.question__block--item h3::after {
  right: 0;
}
.question__block--item h3::before {
  transform: rotate(90deg);
  right: 0;
}
.question__block--item h3.active::before {
  transform: rotate(45deg);
}
.question__block--item h3.active::after {
  transform: rotate(-45deg);
}
.question__block--item h3.active::before, .question__block--item h3.active::after {
  background-color: var(--clr5);
}
.question__block--item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-top: 10px;
  display: none;
  color: #5e5e5e;
}
.question__block--item p::before {
  content: "";
  background-color: var(--clr4);
  display: block;
  height: 4px;
  width: 100%;
  margin-bottom: 10px;
}

.contact {
  position: relative;
  background: url("../img/advantages/bg.webp") 0 0/cover no-repeat;
}
.contact__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
}
@media (max-width: 768px) {
  .contact__inner {
    display: block;
  }
}
.contact__item {
  padding: 50px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 200px;
  z-index: 10;
  border: var(--clr3) 1px solid;
  box-shadow: 0 0 50px rgba(117, 54, 95, 0.3568627451);
}
@media (max-width: 768px) {
  .contact__item {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 500px) {
  .contact__item {
    position: static;
    transform: translate(0, 0);
    background: none;
    border: none;
    box-shadow: none;
    padding: 50px 0;
    height: 100%;
  }
}
.contact__item--map {
  flex: 0 1 100%;
  background-color: #f6f6f6;
}
@media (max-width: 500px) {
  .contact__item--map {
    display: none;
  }
}
.contact__item--map iframe {
  width: 100%;
  height: 500px;
  max-width: 100%;
  background-color: #fff;
}
.contact__block {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.contact__image {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}
.contact__image img {
  width: 40px;
  height: 40px;
}
.contact__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: var(--clr2);
  transition: all 0.3s ease-in-out;
  display: block;
}
.contact__link:hover {
  color: var(--clr5);
}
@media (max-width: 450px) {
  .contact__link {
    font-size: 18px;
  }
}
.contact__location {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
}
@media (max-width: 450px) {
  .contact__location {
    font-size: 18px;
  }
}

.footer__cooper {
  padding: 10px 0;
  font-size: 10px;
  color: var(--clr2);
  text-align: center;
}
.footer__link-bio {
  font-size: 10px;
  color: var(--clr5);
  transition: all 0.3s ease-in-out;
}
.footer__link-bio:hover {
  color: var(--clr3);
}

.loading-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(100, 100, 100, 0.1176470588);
  border-radius: 5px;
}
.loading-icon.active {
  display: flex;
  z-index: 1000;
}
.loading-icon img {
  width: 80px;
  height: 80px;
}

.scroll-up {
  position: fixed;
  right: 20px;
  bottom: -30%;
  display: inline-block;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr3);
  border-radius: 8px;
  animation: scroll 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) alternate infinite;
}
.scroll-up img {
  width: 35px;
  transform: rotate(180deg);
}

.scroll-up:hover {
  transform: translateY(-5px);
  background-color: var(--clr4);
}

.show-scroll {
  bottom: 30px;
}
@media (max-height: 400px) {
  .show-scroll {
    right: 10px;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
.scroll__img {
  width: 100%;
  height: 100%;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px 50px;
  transition: all 0.3s ease-in-out;
}

.popup__content {
  max-width: 500px;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 100%;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  opacity: 0;
}

.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__content-thank {
  max-width: 600px;
}

.popup__close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  color: var(--clr2);
  z-index: 101;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.popup__close:hover {
  color: var(--clr4);
}

.popup__form {
  display: block;
  background: var(--clr1);
  border-radius: 15px;
  padding: 50px;
  position: relative;
  text-align: center;
}

@media (max-width: 450px) {
  .popup__form {
    padding-left: 15px;
    padding-right: 15px;
  }
  .popup__form-thank {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.popup__input {
  max-width: 350px;
  margin: 0 auto 10px;
}
.popup__input .popup-input {
  width: 100%;
  font-size: 16px;
  color: #2d425c;
  padding: 12px;
  border: 1px solid #dedede;
  border-radius: 8px;
}
.popup__input .error {
  border: 1px solid #cc0b0b;
}

.popup-input__text {
  min-height: 100px;
  resize: none;
}

.popup__form h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.22;
  margin-bottom: 20px;
  color: var(--clr2);
}

@media (max-width: 450px) {
  .popup__form h2 {
    font-size: 24px;
  }
}
.popup__form p {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 30px;
}
.popup__form p span {
  white-space: nowrap;
  font-weight: 700;
  font-size: 26px;
  text-shadow: 2px 2px 5px rgba(27, 27, 29, 0.1019607843);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  background-image: linear-gradient(360deg, rgb(172, 83, 141) 0%, rgb(224, 111, 185) 100%);
}

@media (max-width: 450px) {
  .popup__form p {
    margin-bottom: calc(20px + 10 * (100vw - 320px) / 540);
    font-size: 18px;
  }
}
.popup__btn {
  margin-top: 36px;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.thank__main {
  background-color: rgba(27, 27, 29, 0.337254902);
  width: 100%;
  height: 100%;
  position: absolute;
  min-height: 700px;
}
.thank__container {
  background-image: url("../img/home1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  height: 100vh;
  text-align: center;
  min-height: 700px;
}
.thank__title {
  font-size: 80px;
  font-family: "Gilroy-bold", sans-serif;
  max-width: 800px;
  text-align: center;
  margin: 0;
  line-height: 1.1;
  margin-bottom: 50px;
  z-index: 2;
  position: relative;
  color: var(--clr1);
}
@media (max-width: 600px) {
  .thank__title {
    font-size: calc(50px + 30 * (100vw - 320px) / 280);
  }
}
.thank__subtitle {
  font-size: 28px;
  margin-bottom: 70px;
  z-index: 2;
  position: relative;
  color: var(--clr1);
}
@media (max-width: 600px) {
  .thank__subtitle {
    font-size: calc(22px + 6 * (100vw - 320px) / 280);
  }
}
.thank__link {
  background-color: var(--clr6);
  color: var(--clr4);
  transition: all 0.1s ease-in-out;
}
.thank__link:hover {
  color: var(--clr1);
  transition: all 0.1s ease-in-out;
}
@media (max-width: 450px) {
  .thank__link {
    width: 100%;
    display: inline-block;
  }
}